.DS_Store
.idea
test/*.pdf
*.xml
*.html
ChatBot_SampleDataSet
images/generated_image*.png
img/WechatIMG*.jpg
*.faiss
*.pkl
tempDir
test/*.mkv
test/*.wav
test/*.csv
test/*.mp4
test/*.txt
src/__pycache__

