langchain~=0.1.20
langchain-experimental~=0.0.51
langchain-openai~=0.0.8
python-dotenv~=1.00
streamlit~=1.38.0
openai~=1.59.6
tiktoken~=0.5.2
faiss-cpu~=1.7.4
pymupdf
unstructured~=0.7.8
pandas==2.0.2
tqdm~=4.66.4
numpy==1.24.0
scikit-learn~=1.5.2
nltk~=3.9.1
azure-cognitiveservices-speech~=1.33.0
google-generativeai~=0.4.0
faster-whisper==0.5.1
ffmpeg~=1.4
pysubs2~=1.6.1
speechbrain~=0.5.16
pyannote-audio~=3.1.1
pyannote-core~=5.0.0
streamlit_mic_recorder==0.0.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0