langchain~=0.1.0
langchain_experimental~=0.0.12
python-dotenv~=1.00
streamlit~=1.31.1
openai~=1.12.0
tiktoken~=0.5.2
faiss-cpu~=1.7.4
pymupdf
unstructured~=0.7.8
pandas==2.0.2
tqdm~=4.65.0
numpy==1.24.0
scikit-learn~=1.2.2
nltk~=3.8.1
azure-cognitiveservices-speech~=1.33.0
google-generativeai~=0.3.2
faster-whisper==0.5.1
ffmpeg~=1.4
pysubs2~=1.6.1
pyannote-audio
pyannote-core
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cpu