langchain~=0.0.247
python-dotenv~=1.0.0
faster-whisper==0.5.1
ffmpeg~=1.4
pysubs2
pyannote-audio
pyannote-core
streamlit==1.25.0
streamlit-chat==0.1.0
transformers
openai
tiktoken
faiss-cpu
pymupdf
unstructured
pandas==2.0.2
tqdm~=4.65.0
torch~=2.0.1
numpy==1.24.0
scikit-learn~=1.2.2
nltk~=3.8.1